<header class="header">
  {#<a href="{{ path('homepage') }}" class="header-logo"><img src="{{ asset('build/img/logo_miw.png') }}" alt="Mood in Wood logo"></a>#}
  <div id="hamburger-menu" role="button">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
  <nav class="menu">
    <ul>
      <li><a href="{{ path('homepage') }}">Accueil</a></li>
      <li><a href="{{ path('products_index') }}">Créations</a></li>
      <li><a href="#">Collections</a></li>
      <li><a href="{{ path('posts_index') }}">Actualités</a></li>
      <li><a href="#">À propos</a></li>
      <li><a href="{{ path('contact') }}">Contact</a></li>
    </ul>
  </nav>
</header>