{% extends 'admin/base.html.twig' %}

{% block title %}Administration des actualités{% endblock %}

{% block body %}
<section>
    <h1>Administration des actualités</h1>

    <table>
    <thead>
        <td>N°</td>
        <td>Titre</td>
        <td>Intro</td>
        <td>Date de publication</td>
        <td>Actions</td>
    </thead>
    <tbody>
        {% for post in pagination.data %}
            <tr>
                <td>{{ post.id }}</td>
                <td><strong>{{ post.title }}</strong></td>
                <td>{{ post.preview }}</td>
                <td>{{ post.createdAt|date('d/m/Y h:i') }}</td>
                <td>
                    <a href="{{ path('admin_posts_edit', {'id': post.id}) }}" class="button info">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{{ path('admin_posts_delete', {'id': post.id}) }}" class="button danger">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

    {{ pagination.display() }}
</section>

{% endblock %}
