{% extends 'admin/base.html.twig' %}

{% block title %}Nouvelle actualité{% endblock %}

{% block body %}


  <h2>Poster un article</h2>

  {{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.preview) }}
    {{ form_row(form.content) }}
    {{ form_row(form.imageFile) }}

    <button type="submit" class="button primary"><i class="fas fa-check"></i> Poster l'article</button>

  {{ form_end(form) }}


{% endblock %}