<article class="post">
  <h3 class="post-title">{{ post.title }}</h3>
  <p class="date">{{ post.createdAt|date('d-m-Y') }}</p>
  <figure>
    <a href="{{ path('posts_show', {'slug': post.slug}) }}">
      <img src="{{ post.coverImage }}" alt="Image de l'article : {{ post.title }}">
    </a>
  </figure>
  <p class="post-preview">{{ post.preview }}</p>
  <a href="{{ path('posts_show', {'slug': post.slug}) }}" class="post-link">Lire la suite <i class="fas fa-arrow-right"></i></a>
</article>