{% extends 'base.html.twig' %}

{% block title %}Toutes les créations Mood in Wood{% endblock %}

{% block body %}
    <section class="products">

        {{ form_start(form, { 'attr' : {'id': 'search-form'}}) }}
            {{ form_row(form.category) }}
            {{ form_row(form.maxPrice) }}
            {{ 'Rechercher' | button({'color': 'primary', 'type': 'submit', 'icon': 'fas fa-search', 'size': 'fa-lg'}) }}
        {{ form_end(form) }}
    
        <h2>Toutes les créations Mood in Wood</h2>

        {% for product in products %}
            {% include 'product/_product.html.twig' %}
        {% endfor %}
    
    </section>
{% endblock %}
