{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
<section class="wrapper">
  <article class="post-details">
    <h1>{{ post.title }}</h1>
    <img src="{{ post.coverImage }}" alt="">
    <div>
      {{ post.content|nl2br }}
      <span class="date">Posté le {{ post.formattedDate }}</span>
    </div>
    <a href="{{ path('posts_index') }}" class="button with-icon clear"><i class="fas fa-arrow-left"></i> Retour aux actualités</a>
    <div class="clear"></div>
  </article>
</section>

{% endblock %}