{{ form_start(form) }}
<div class="form-row">
  {{ form_row(form.name) }}
</div>
<div class="form-row">
  {{ form_row(form.description) }}
</div>
<div class="form-group">
  {{ form_rest(form) }}
</div>
<button type="submit" class="button primary"><i class="fas fa-edit"></i>Modifier le produit</button>
{{ form_end(form) }}