{{ form_start(form) }}
<div class="form-row">
  {{ form_row(form.name) }}
</div>
<div class="form-row">
  {{ form_row(form.description) }}
</div>
<div class="form-group">
  {{ form_row(form.price) }}
  {{ form_row(form.category) }}
  {{ form_row(form.inStock) }}
</div>

<div class="pictures-gallery">
  
  {% for picture in product.pictures %}
    <div class="picture-control">
      <img src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('productthumb')}}" alt="Image du produit {{ product.name }}">
      <a href="{{ path('admin_pictures_delete', {'id': picture.id}) }}"
        data-delete 
        data-token="{{ csrf_token('delete' ~ picture.id) }}"
        class="button danger"
        >
          <i class="fas fa-times"></i>
      </a>
    </div>
  {% endfor %}
</div>

<div class="form-row">
  {{ form_row(form.pictureFiles) }}
</div>

{% if edit %}
  {{ 'Modifier le produit'|button({
    'type': 'submit',
    'icon': 'fas fa-edit'
  }) }}
{% else %}
  {{ 'Ajouter le produit'|button({
    'type': 'submit',
    'icon': 'fas fa-plus'
  }) }}
{% endif %}

{{ form_end(form) }}